<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2 class="navbar-brand">Message Board</h2>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">{{#link-to 'index'}}Home{{/link-to}}</li>
      </ul>
    </div>
  </nav>
{{outlet}}
</div>
