<div class="row">
  <div class="col-md-8 col-md-offset-2 question-content">
    {{question-content question=model.question updateQuestion="updateQuestion"}}
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2 answer-section">
    {{answer-list question=model.question saveAnswer="saveAnswer"}}
  </div>
</div>
